### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
import requests

C:\Users\Kishan\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [4]:
driver1= webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url1='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'
driver1.get(url1)

<ipython-input-4-a609ca60071f>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver1= webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [6]:
search= driver1.find_element_by_xpath("//input[@class='vector-search-box-input']")
search.send_keys("List_of_most-viewed_YouTube_videos")

<ipython-input-6-344097230f1f>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search= driver1.find_element_by_xpath("//input[@class='vector-search-box-input']")

In [7]:
btn=driver1.find_element_by_id("searchButton").click()

<ipython-input-7-5ff00320cd7c>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  btn=driver1.find_element_by_id("searchButton").click()

In [8]:
Rank=[]
rank=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//table[3]//tbody[1]//tr//td[1]")

for i in rank:
    Rank.append(i.text)
len(Rank)

<ipython-input-8-c059001f6c23>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rank=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//table[3]//tbody[1]//tr//td[1]")

30

In [9]:
name=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[2]")
Name=[]
for i in name:
    Name.append(i.text)
len(Name)

<ipython-input-9-df73e70b1b33>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[2]")

30

In [10]:
Artist=[]
arst=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[3]")

for i in arst:
    Artist.append(i.text)
len(Artist)

<ipython-input-10-4500b91f86a1>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arst=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[3]")

30

In [11]:
Views=[]

vws=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[4]")

for i in vws:
    Views.append(i.text)
len(Views)

<ipython-input-11-aff003100164>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  vws=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[4]")

30

In [12]:
Upload_Date=[]

ud=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[5]")

for i in ud:
    Upload_Date.append(i.text)
    
len(Upload_Date)

<ipython-input-12-3629e18cc7b6>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ud=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[5]")

30

In [13]:
df1=pd.DataFrame()

df1['Rank']=Rank
df1['Video Name']=Name
df1['Artist Name']=Artist
df1['Uploaded Date']=Upload_Date
df1['No of Views']=Views

df1

,Rank,Video Name,Artist Name,Uploaded Date,No of Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.95
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.69
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.08
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.58
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.38
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.82
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.42
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.39
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.30
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.79
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.62
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.50
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.48
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.46
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.21
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.21
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.16
22,23.,"""Bailando""[40]",Enrique Iglesias,"April 11, 2014",3.15
23,24.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.15
24,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.14
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.06
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.04
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.02
29,30.,"""Mi Gente""[47]",J Balvin,"June 29, 2017",3.02

### Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [35]:
driver2 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url2='https://www.bcci.tv/'
driver2.get(url2)

<ipython-input-35-cfde7072e4d7>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver2 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [36]:
ints=driver2.find_elements_by_xpath("/html/body/div[13]/div/div[1]/div[2]/ul[1]/li[2]/a")

for i in ints:
    i.text=='INTERNATIONAL'
    i.click()
    break

<ipython-input-36-8ab81e2faa4c>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ints=driver2.find_elements_by_xpath("/html/body/div[13]/div/div[1]/div[2]/ul[1]/li[2]/a")

In [53]:
Series=[]

mt=driver2.find_elements_by_xpath("//span[@class='ng-binding']")

for i in mt:
    Series.append(i.text)
len(Series)

<ipython-input-53-8255e86ba5a6>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  mt=driver2.find_elements_by_xpath("//span[@class='ng-binding']")

8

In [54]:
Match_Title

['INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22',
 'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
 'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
 'INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22',
 'WEST INDIES TOUR OF INDIA ODI SERIES 2022',
 'WEST INDIES TOUR OF INDIA ODI SERIES 2022',
 'WEST INDIES TOUR OF INDIA ODI SERIES 2022',
 'WEST INDIES TOUR OF INDIA T20 SERIES 2022']

In [61]:
Match_Title=[]

mt=driver2.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")

for i in mt:
    Match_Title.append(i.text)
len(Match_Title)

<ipython-input-61-9dfe2b454962>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  mt=driver2.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")

8

In [63]:
Place=[]

mt=driver2.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']/span[1]")

for i in mt:
    Place.append(i.text)
len(Place)

<ipython-input-63-29a66d989028>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  mt=driver2.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']/span[1]")

8

In [51]:
Date=[]

dt=driver2.find_elements_by_xpath("//h5[@class='ng-binding']")

for i in dt:
    Date.append(i.text)
    
len(Date)

<ipython-input-51-182dc13a6767>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dt=driver2.find_elements_by_xpath("//h5[@class='ng-binding']")

8

In [52]:
Time=[]

tm=driver2.find_elements_by_xpath("//h5[@class='text-right ng-binding']")

for i in tm:
    Time.append(i.text)
Time

<ipython-input-52-db45ca18a1b4>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  tm=driver2.find_elements_by_xpath("//h5[@class='text-right ng-binding']")

['2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '7:30 PM IST']

In [69]:
df2=pd.DataFrame()

df2['Match Title']=Match_Title
df2['Series']=Series
df2['Place']=Place
df2['Date']=Date
df2['Time']=[item for item in Time]

df2

,Match Title,Series,Place,Date,Time
0,"3rd Test - Newlands, Cape Town",INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"Newlands,",11 JAN 2022,2:00 PM IST
1,"1st ODI - Boland Park, Paarl",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park,",19 JAN 2022,2:00 PM IST
2,"2nd ODI - Boland Park, Paarl",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park,",21 JAN 2022,2:00 PM IST
3,"3rd ODI - Newlands, Cape Town",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Newlands,",23 JAN 2022,2:00 PM IST
4,"1st ODI - NARENDRA MODI STADIUM, Ahmedabad",WEST INDIES TOUR OF INDIA ODI SERIES 2022,"NARENDRA MODI STADIUM,",6 FEB 2022,9:30 AM IST
5,"2nd ODI - Sawai Mansingh Stadium, Jaipur",WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Sawai Mansingh Stadium,",9 FEB 2022,9:30 AM IST
6,"3rd ODI - Eden Gardens, Kolkata",WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Eden Gardens,",12 FEB 2022,9:30 AM IST
7,"1st T20 - Barabati Stadium, Cuttack",WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,",15 FEB 2022,7:30 PM IST

### Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

In [71]:
driver3 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url3='https://www.guru99.com/'
driver3.get(url3)

<ipython-input-71-1a3a4d436245>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver3 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [72]:
sl=driver3.find_elements_by_xpath("//ul[@class='menu1']/li[3]")
for i in sl:
    i.text=='Selenium'
    i.click()
    break

<ipython-input-72-10707dec6da7>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sl=driver3.find_elements_by_xpath("//ul[@class='menu1']/li[3]")

In [73]:
eh=driver3.find_element_by_xpath("//div[@class='entry-content single-content']/table[5]/tbody/tr[34]/td/a/strong[1]").click()

<ipython-input-73-365faaaea09a>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  eh=driver3.find_element_by_xpath("//div[@class='entry-content single-content']/table[5]/tbody/tr[34]/td/a/strong[1]").click()

In [74]:
Name=[]

nm=driver3.find_elements_by_xpath("//div[@class='entry-content single-content']//table/tbody/tr/td[1]")

for i in nm:
    Name.append(i.text)
len(Name)

<ipython-input-74-7915083617c5>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nm=driver3.find_elements_by_xpath("//div[@class='entry-content single-content']//table/tbody/tr/td[1]")

41

In [75]:
Description=[]

dc=driver3.find_elements_by_xpath("//div[@class='entry-content single-content']//table/tbody/tr/td[2]")

for i in dc:
    Description.append(i.text)
len(Description)

<ipython-input-75-ed14bc349441>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dc=driver3.find_elements_by_xpath("//div[@class='entry-content single-content']//table/tbody/tr/td[2]")

41

In [76]:
df3=pd.DataFrame()

df3['Exception name']=Name
df3['Description']=Description

df3

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [78]:
driver4 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url4='http://statisticstimes.com/'
driver4.get(url4)

<ipython-input-78-75412870646e>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver4 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [79]:
economy=driver4.find_elements_by_xpath("//div[@class='navbar']/div[2]")

for i in economy:
    i.text=='Economy'
    i.click()
    break

<ipython-input-79-3b4aa28a3a40>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  economy=driver4.find_elements_by_xpath("//div[@class='navbar']/div[2]")

In [80]:
india=driver4.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
india.click()

<ipython-input-80-a3f673ac7339>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  india=driver4.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")

In [82]:
state=driver4.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]")
state.click()

<ipython-input-82-1d4b115537f6>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  state=driver4.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]")

In [83]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]


r=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[1]")
for i in r:
    Rank.append(i.text)
    
s=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[2]")
for i in s:
    State.append(i.text)
    
g1=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[3]")
for i in g1:
    GSDP1.append(i.text)
    
g2=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[4]")
for i in g2:
    GSDP2.append(i.text)
    
share=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[5]")
for i in share:
    Share.append(i.text)
    
gdp=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[6]")
for i in gdp:
    GDP.append(i.text)

<ipython-input-83-f85bd187492e>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  r=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[1]")
<ipython-input-83-f85bd187492e>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  s=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[2]")
<ipython-input-83-f85bd187492e>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  g1=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[3]")
<ipython-input-83-f85bd187492e>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  g2=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[4]")
<ipython-input-83-f85bd187492e>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  share=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[5]")
<ipython-input-83-f85bd187492e>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  gdp=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[6]")

In [84]:
df4=pd.DataFrame()

df4[' Rank']=Rank
df4['State']=State
df4['GSDP at current price (19-20)']=GSDP1
df4['GSDP at current price (18-19)']=GSDP2
df4['Share(18-19)']=Share
df4['GDP']=GDP

df4

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [103]:
driver5 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url5='https://github.com/'
driver5.get(url5)

<ipython-input-103-31fc24843973>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver5 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [104]:
ex=driver5.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()

<ipython-input-104-7902b6b7288e>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  ex=driver5.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()

In [105]:
td=driver5.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
td.click()

<ipython-input-105-93ffda93c166>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  td=driver5.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")

In [106]:
Name=[]

name=driver5.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")

for i in name:
    Name.append(i.text)
    
len(Name)

<ipython-input-106-d9ca1399cd53>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver5.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")

25

In [107]:
Decription=[]


dec=driver5.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
    
for i in dec:
    try:
        Decription.append(i.text)
    except:
        Decription.append("-")
len(Decription)

<ipython-input-107-d5c55f3e044b>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dec=driver5.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")

24

In [108]:
URL=[]

url=driver5.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

for i in url:
    URL.append(i.get_attribute('href'))
    
len(URL)

<ipython-input-108-a3756c7e29e5>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver5.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

25

In [111]:
df5=pd.DataFrame()

df5['Repository title']=Name[1:24]
df5['Repository description']=Decription[1:]
df5['URL'] = URL[1:24]
df5

,Repository title,Repository description,URL
0,wmjordan / PDFPatcher,PDF补丁丁,https://github.com/wmjordan/PDFPatcher
1,sunflower-farmers / sunflower-farmers,Static Code Analysis,https://github.com/sunflower-farmers/sunflower...
2,Tencent / CodeAnalysis,PowerShell for every system!,https://github.com/Tencent/CodeAnalysis
3,PowerShell / PowerShell,A modern formatting library,https://github.com/PowerShell/PowerShell
4,fmtlib / fmt,"Build smaller, faster, and more secure desktop...",https://github.com/fmtlib/fmt
5,tauri-apps / tauri,"A lightweight, stable and high-performance rev...",https://github.com/tauri-apps/tauri
6,rapiz1 / rathole,Fiora：漏洞PoC框架的图形版，快捷搜索PoC、一键运行Nuclei,https://github.com/rapiz1/rathole
7,bit4woo / Fiora,🔥 Disintegrate your apps with style.,https://github.com/bit4woo/Fiora
8,Schneegans / Burn-My-Windows,"goby poc or exp,分享goby最新网络安全漏洞检测或利用代码",https://github.com/Schneegans/Burn-My-Windows
9,aetkrad / goby_poc,This repository is my documenting repository f...,https://github.com/aetkrad/goby_poc
10,MichaelCade / 90DaysOfDevOps,Reactive Programming in Swift,https://github.com/MichaelCade/90DaysOfDevOps
11,ReactiveX / RxSwift,A curated list of awesome warez and piracy links,https://github.com/ReactiveX/RxSwift
12,Igglybuff / awesome-piracy,"An updated version of the classic ""Basic Compu...",https://github.com/Igglybuff/awesome-piracy
13,coding-horror / basic-computer-games,⭐️ Companies that don't have a broken hiring p...,https://github.com/coding-horror/basic-compute...
14,poteto / hiring-without-whiteboards,Typed interactions with the GitHub API v3,https://github.com/poteto/hiring-without-white...
15,PyGithub / PyGithub,高颜值的第三方网易云播放器，支持 Windows / macOS / Linux,https://github.com/PyGithub/PyGithub
16,qier222 / YesPlayMusic,30 days of JavaScript programming challenge is...,https://github.com/qier222/YesPlayMusic
17,Asabeneh / 30-Days-Of-JavaScript,Elegant React-like library for building user i...,https://github.com/Asabeneh/30-Days-Of-JavaScript
18,DioxusLabs / dioxus,Desktop environment in the browser.,https://github.com/DioxusLabs/dioxus
19,DustinBrett / daedalOS,GoogleTest - Google Testing and Mocking Framework,https://github.com/DustinBrett/daedalOS
20,google / googletest,Course Files for Complete Python 3 Bootcamp Co...,https://github.com/google/googletest
21,Pierian-Data / Complete-Python-3-Bootcamp,Cuckoo 3 is a Python 3 open source automated m...,https://github.com/Pierian-Data/Complete-Pytho...
22,cert-ee / cuckoo3,🍼 Plugin driven WYSIWYG markdown editor framew...,https://github.com/cert-ee/cuckoo3

### Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

In [28]:
driver6 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url6='https://www.billboard.com/'
driver6.get(url6)

<ipython-input-28-6b4eb367f8ee>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver6 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [31]:
chart=driver6.find_element_by_xpath("/html/body/div[4]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span")
chart.click()

<ipython-input-31-fd5287ffce0e>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  chart=driver6.find_element_by_xpath("/html/body/div[4]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span")

In [32]:
Song_Name=[]
Artist_Name=[]
LWR=[]
PR=[]
WB=[]

In [43]:
sn=driver6.find_elements_by_id("title-of-a-story")
for i in sn:
    Song_Name.append(i.text)

<ipython-input-43-3c5ede8e1616>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sn=driver6.find_elements_by_id("title-of-a-story")

In [44]:
len(Song_Name)

617

In [49]:
an=driver6.find_elements_by_xpath("//h3[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']/span[1]")
for i in an:
    Artist_Name.append(i.text)

<ipython-input-49-e3aa671f4f25>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  an=driver6.find_elements_by_xpath("//h3[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']/span[1]")

In [50]:
len(Artist_Name)

1

### Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

In [51]:
driver7 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url7='https://www.naukri.com/'
driver7.get(url7)

<ipython-input-51-25622d02f4f0>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver7 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [57]:
rew=driver7.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a").click()

<ipython-input-57-7d6e1e9537c7>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  rew=driver7.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a").click()

In [58]:
driver7.switch_to.window(driver7.window_handles[1])

In [61]:
sk=driver7.find_element_by_xpath("//div[@class='sWrap lftBrd']/div/input")
sk.send_keys("Data science")

<ipython-input-61-2f4d910d9d9e>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sk=driver7.find_element_by_xpath("//div[@class='sWrap lftBrd']/div/input")

In [62]:
#Click On Search Button
search=driver7.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

<ipython-input-62-909e96c35607>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver7.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [63]:
sk=driver7.find_element_by_xpath("//div[@class='sWrap lftBrd']/div/input")
sk.send_keys("Data science")

<ipython-input-63-2f4d910d9d9e>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sk=driver7.find_element_by_xpath("//div[@class='sWrap lftBrd']/div/input")

In [65]:
search=driver7.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

<ipython-input-65-d8efc1c98e60>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver7.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [66]:
Name=[]

name=driver7.find_elements_by_xpath("//span[@class='fl ellipsis']")

for i in name:
    Name.append(i.text)
    
len(Name)

<ipython-input-66-9cb377e2ed5e>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver7.find_elements_by_xpath("//span[@class='fl ellipsis']")

50

In [67]:
Designation=[]

df=driver7.find_elements_by_xpath("//span[@class='ellipsis clr']")

for i in df:
    Designation.append(i.text)
    
len(Designation)

<ipython-input-67-2d464f94d56b>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  df=driver7.find_elements_by_xpath("//span[@class='ellipsis clr']")

50

In [68]:
Company=[]

c=driver7.find_elements_by_xpath("//p[@class='highlightable']/a[2]")

for i in c:
    Company.append(i.text)
    
len(Company)

<ipython-input-68-7646fd75b46a>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  c=driver7.find_elements_by_xpath("//p[@class='highlightable']/a[2]")

50

In [69]:
Skill=[]

skill=driver7.find_elements_by_xpath("//div[@class='hireSec highlightable']")

for i in skill:
    Skill.append(i.text)
    
len(Skill)

<ipython-input-69-70581962f5a3>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  skill=driver7.find_elements_by_xpath("//div[@class='hireSec highlightable']")

50

In [70]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [71]:
Url=[]

url=driver7.find_elements_by_xpath("//p[@class='highlightable']/a[1]")

for i in url:
    Url.append(i.get_attribute('href'))
    
len(Url)

<ipython-input-71-f55d6b3705eb>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  url=driver7.find_elements_by_xpath("//p[@class='highlightable']/a[1]")

50

In [72]:
Location=[]

for i in Url:
    driver7.get(i)
    time.sleep(1)
    loc=driver7.find_element_by_xpath("//div[@class='wrpSp oh']//div[5]/a")
    try:
        Location.append(loc.text)
    except NoSuchElementException :
        Location.append("--")
  
len(Location)

<ipython-input-72-04fa3b21c6af>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver7.find_element_by_xpath("//div[@class='wrpSp oh']//div[5]/a")

50

In [73]:
df7=pd.DataFrame()

df7['Name']=Name
df7['Designation']=Designation
df7['Company Name']=Company
df7['Skills they hire for']=Skill
df7['Location']=Location

df7

,Name,Designation,Company Name,Skills they hire for,Location
0,Rajiv Raj,Director,CreditVidya,"Big Data, Data Management, Data Analytics, Ban...",Mumbai
1,Sharmistha Maity,Company Recruiter,ICA Edu Skills Pvt. Ltd.,Not Specified,Kolkata
2,Malvika Bhandari,Talent Acquisition Consultant,IMS Proschool Pvt. Ltd,Not Specified,Pune
3,Fgts Recruitment,Company Recruiter,FUSION GLOBAL TECHNOLOGIES AND SOLUTIONS...,Not Specified,Chennai
4,Vineet P,Opportunity Communicator,Dell Technologies,"Inside Sales, Outside Sales, Enterprise Accoun...",Bengaluru / Bangalore
5,Silky Sethi,Company Recruiter,ZS Associates {India} Pvt Ltd,Not Specified,Pune
6,Tracy Raina,Senior HR Executive,Quatrro Global Services Pvt. Ltd.,Not Specified,Gurgaon
7,HR Carzonrent,Company Recruiter,Carzonrent (India) Pvt Ltd,Not Specified,Delhi
8,Deepti Nagle,Recruitment Executive,Nityo Infotech Services Pvt. Ltd.,Not Specified,Pune
9,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
10,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
11,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
12,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
13,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
14,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
15,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
16,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
17,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
18,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
19,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
20,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
21,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
22,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
23,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
24,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
27,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
28,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
29,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
30,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
31,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
34,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
35,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
36,Dr. S. Prasanna Devi,Professor and Head,SRM Institute of Science and Technology,"Computer Science, Machine Learning, Deep Learn...",Chennai
37,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
38,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
39,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
40,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
41,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
42,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
43,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
44,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
45,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
46,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
47,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
48,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
49,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore

### Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [74]:
driver8 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url8='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver8.get(url8)

<ipython-input-74-234ca87ff5f6>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver8 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [75]:
Book_Name=[]

bn=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")

for i in bn:
    Book_Name.append(i.text)
    
len(Book_Name)

<ipython-input-75-55c9b20e5aee>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  bn=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")

100

In [76]:
Author_Name=[]

an=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")

for i in an:
    Author_Name.append(i.text)
    
len(Author_Name)

<ipython-input-76-bd26bf5cb30e>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  an=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")

100

In [77]:
Volumes_Sold=[]

vs=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")

for i in vs:
    Volumes_Sold.append(i.text)

len(Volumes_Sold)

<ipython-input-77-49703528becd>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  vs=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")

100

In [78]:
Publisher=[]

ps=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")

for i in ps:
    Publisher.append(i.text)
    
len(Publisher)

<ipython-input-78-c9a00775a17d>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ps=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")

100

In [80]:
Genre=[]

gn=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

for i in gn:
    Genre.append(i.text)
    
len(Genre)

<ipython-input-80-469b4aed76cb>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  gn=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

100

In [81]:
df8=pd.DataFrame()

df8['Book name']=Book_Name
df8['Author name']=Author_Name
df8['Volumes sold']=Volumes_Sold
df8['Publisher']=Publisher
df8['Genre']=Genre

df8

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

In [83]:
driver9 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url9='https://www.imdb.com/list/ls095964455/'
driver9.get(url9)

<ipython-input-83-0e0037258efc>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver9 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [84]:
Name=[]

name=driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/a")

for i in name:
    Name.append(i.text)
    
len(Name)

<ipython-input-84-c734f1625956>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/a")

100

In [85]:
Year_Span=[]

year=driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")

for i in year:
    Year_Span.append(i.text)
    
len(Year_Span)

<ipython-input-85-6d4f8db15e43>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  year=driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")

100

In [86]:
Genre=[]

gen=driver9.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")

for i in gen:
    Genre.append(i.text)
    
len(Genre)

<ipython-input-86-9f94e09ee4d7>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  gen=driver9.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")

100

In [87]:
Run_Time=[]

rt=driver9.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")

for i in rt:
    Run_Time.append(i.text)
    
len(Run_Time)

<ipython-input-87-c1e24e1c2764>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rt=driver9.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")

100

In [88]:
Rating=[]

rating=driver9.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")

for i in rating:
    Rating.append(i.text)
    

len(Rating)

<ipython-input-88-dcc6e3ad5ab0>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating=driver9.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")

100

In [89]:
Votes=[]

vote=driver9.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]")

for i in vote:
    Votes.append(i.text)
    
len(Votes[1::2])

<ipython-input-89-4f1195b9fa14>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  vote=driver9.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]")

100

In [90]:
df9=pd.DataFrame()

df9['TV Serial Name']=Name
df9['Year Span']=Year_Span
df9['Genre']=Genre
df9['Run Time']=Run_Time
df9['Rating']=Rating
df9['Votes']=Votes[1::2]

df9

,TV Serial Name,Year Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,925,834"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"948,602"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"920,661"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,750"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,045"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,064"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,845"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,578"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,145"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,220"

### Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

In [91]:
driver10 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
url10='https://archive.ics.uci.edu/'
driver10.get(url10)

<ipython-input-91-50c3a1adfd17>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver10 = webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [92]:
all_dataset=driver10.find_elements_by_xpath("//span[@class='normal']//a")
for i in all_dataset:
    if i.text=='view all data sets':
        i.click()
        break

<ipython-input-92-2ff618c64a59>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  all_dataset=driver10.find_elements_by_xpath("//span[@class='normal']//a")

In [93]:
Dataset_Name=[]

name=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[1]")

for i in name:
    if i.text is None:
        Dataset_Name.append("-")
    else:
        Dataset_Name.append(i.text)
    
len(Dataset_Name)

<ipython-input-93-b03289b71911>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[1]")

624

In [94]:
Data_Type=[]

dt=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[2]")

for i in dt:
    if i.text is None:
        Data_Type.append("-")
    else:
        Data_Type.append(i.text)
    
len(Data_Type)

<ipython-input-94-84e8dc6cae91>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dt=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[2]")

624

In [95]:
Default_Task=[]

det=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[3]")

for i in det:
    if i.text is None:
        Default_Task.append("-")
    else:
        Default_Task.append(i.text)
    
len(Default_Task)

<ipython-input-95-1ef4f307d85a>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  det=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[3]")

624

In [96]:
Attributes_Types=[]

at=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[4]")

for i in at:
    if i.text is None:
        Attributes_Types.append("-")
    else:
        Attributes_Types.append(i.text)
    
len(Attributes_Types)

<ipython-input-96-124eeb1c74a7>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  at=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[4]")

624

In [97]:
Instances=[]

ins=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[5]")

for i in ins:
    if i.text is None:
        Instances.append("-")
    else:
        Instances.append(i.text)
    
len(Instances)

<ipython-input-97-89670c1d58be>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ins=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[5]")

623

In [98]:
Attributes=[]

atr=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[6]")

for i in atr:
    if i.text is None:
        Attributes.append("-")
    else:
        Attributes.append(i.text)
        
len(Attributes)

<ipython-input-98-2760115dafa1>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  atr=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[6]")

623

In [99]:
Year=[]

yr=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[7]")

for i in yr:
    try:
        Year.append(i.text)
    except NoSuchElementException:
        Year.append("--")
        
len(Year)

<ipython-input-99-c9156165f32d>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  yr=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[7]")

623

In [101]:
df10=pd.DataFrame()

df10['Dataset Name']=Dataset_Name[1:623]
df10['Dataset Type']=Data_Type[1:623]
df10['Default Task']=Default_Task[1:623]
df10['Attribute Type']=Attributes_Types[1:623]
df10['No of instances']=Instances[1:]
df10[' No of attribute']=Attributes[1:]
df10['Year']=Year[1:]

df10

,Dataset Name,Dataset Type,Default Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021