QUESTION NO 1

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from urllib.request import urlopen

In [ ]:
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")

print("List of all header tags")
for heading in bs.find_all(['h1', 'h2','h3','h4','h5','h6']):

    print(heading.name + ' ' + heading.text.strip())

QUESTION 2

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re


url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')


movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]


imdb = []


for index in range(0, len(movies)):

    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    rating = ratings[index]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "rating": ratings[index]}
    imdb.append(data)

for item in imdb:
   print(item['place'], item['movie_title'], '('+item['year']+') -', item['rating'])

1 The Shawshank Redemption (1994) - 9.220843244997972
2 The Godfather (1972) - 9.147239517428206
3 The Godfather: Part II (1974) - 8.980901432010997
4 The Dark Knight (2008) - 8.974729325716735
5 12 Angry Men (1957) - 8.941257104335788
6 Schindler's List (1993) - 8.9118352210954
7 The Lord of the Rings: The Return of the King (2003) - 8.890143661705133
8 Pulp Fiction (1994) - 8.834821570802605
9 The Good, the Bad and the Ugly (1966) - 8.785045639961922
1  The Lord of the Rings: The Fellowship of the Ring (2001) - 8.780216427176285
11 Fight Club (1999) - 8.750465140823888
12 Forrest Gump (1994) - 8.74408941238941
13 Inception (2010) - 8.714794337514796
14 The Lord of the Rings: The Two Towers (2002) - 8.703721742972911
15 Star Wars: Episode V - The Empire Strikes Back (1980) - 8.694384186562836
16 The Matrix (1999) - 8.64584870404416
17 Goodfellas (1990) - 8.644433015291206
18 One Flew Over the Cuckoo's Nest (1975) - 8.634838133218594
19 Seven Samurai (1954) - 8.608674990263768
20 Se7en (1995) - 8.587181225924601
21 The Silence of the Lambs (1991) - 8.577272860624138
22 City of God (2002) - 8.57607875487595
23 Life Is Beautiful (1997) - 8.574906326757782
24 It's a Wonderful Life (1946) - 8.574422347854892
25 Star Wars: Episode IV - A New Hope (1977) - 8.550549746707928
26 Saving Private Ryan (1998) - 8.550543035316513
27 Interstellar (2014) - 8.542598257085166
28 Spirited Away (2001) - 8.539150652759465
29 The Green Mile (1999) - 8.536614538891834
30 Parasite (2019) - 8.526660064147066
31 Léon: The Professional (1994) - 8.497748911397505
32 Hara-Kiri (1962) - 8.493693350125506
33 The Pianist (2002) - 8.490349990653176
34 Terminator 2: Judgment Day (1991) - 8.48524698946572
35 Back to the Future (1985) - 8.484403159253638
36 The Usual Suspects (1995) - 8.484348937063777
37 Psycho (1960) - 8.482317500825692
38 The Lion King (1994) - 8.481145777272433
39 Modern Times (1936) - 8.478990160517778
40 American History X (1998) - 8.473323832931337
41 Grave of the Fireflies (1988) - 8.472309566315113
42 City Lights (1931) - 8.469486904881071
43 Whiplash (2014) - 8.469437547985892
44 Gladiator (2000) - 8.469022031522424
45 The Departed (2006) - 8.467040800977337
46 The Intouchables (2011) - 8.45939280636094
47 The Prestige (2006) - 8.453626683733646
48 Casablanca (1942) - 8.449351666993762
49 Once Upon a Time in the West (1968) - 8.44681701987227
50 Rear Window (1954) - 8.43941618396195
51 Cinema Paradiso (1988) - 8.437066251610233
52 Alien (1979) - 8.422642197107212
53 Apocalypse Now (1979) - 8.41730478071193
54 Memento (2000) - 8.407838688790653
55 Indiana Jones and the Raiders of the Lost Ark (1981) - 8.40511533909014
56 The Great Dictator (1940) - 8.403713970617858
57 The Lives of Others (2006) - 8.39056290293449
58 Django Unchained (2012) - 8.390447744501804
59 Paths of Glory (1957) - 8.3825321104766
60 Sunset Blvd (1950) - 8.377340815856979
61 WALL·E (2008) - 8.373853080411171
62 Avengers: Infinity War (2018) - 8.367175089024965
63 Witness for the Prosecution (1957) - 8.365537960232809
64 The Shining (1980) - 8.364063728329322
65 Spider-Man: Into the Spider-Verse (2018) - 8.356989671096628
66 Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - 8.352070182840034
67 Princess Mononoke (1997) - 8.34492542948116
68 Oldboy (2003) - 8.34380011505851
69 Joker (2019) - 8.343282171383581
70 Your Name (2016) - 8.327921235104785
71 Coco (2017) - 8.32238082034131
72 The Dark Knight Rises (2012) - 8.32214966840167
73 Aliens (1986) - 8.321234753257988
74 Once Upon a Time in America (1984) - 8.320038468364084
75 Capernaum (2018) - 8.309175317911928
76 Avengers: Endgame (2019) - 8.309158174984455
77 Das Boot (1981) - 8.306432400471309
78 High and Low (1963) - 8.301230303562047
79 3 Idiots (2009) - 8.297286157068399
80 Toy Story (1995) - 8.296606946745994
81 American Beauty (1999) - 8.296505808814883
82 Amadeus (1984) - 8.295361509827911
83 Braveheart (1995) - 8.293688693946171
84 Hamilton (2020) - 8.290023797992827
85 Inglourious Basterds (2009) - 8.289317441260312
86 Good Will Hunting (1997) - 8.282408849085739
87 Star Wars: Episode VI - Return of the Jedi (1983) - 8.27417633006288
88 2001: A Space Odyssey (1968) - 8.272513534418227
89 Reservoir Dogs (1992) - 8.27111993081982
90 M (1931) - 8.269408649697073
91 Like Stars on Earth (2007) - 8.269244239239855
92 Vertigo (1958) - 8.269152316071098
93 Come and See (1985) - 8.268788210538048
94 Citizen Kane (1941) - 8.267124523135976
95 The Hunt (2012) - 8.265996904081815
96 Requiem for a Dream (2000) - 8.260818270885885
97 Singin' in the Rain (1952) - 8.259099324370256
98 North by Northwest (1959) - 8.257507772633046
99 Eternal Sunshine of the Spotless Mind (2004) - 8.255586119271312
10  Bicycle Thieves (1948) - 8.254431874557618
101 Ikiru (1952) - 8.254173556622785
102 Lawrence of Arabia (1962) - 8.250272695014262
103 The Kid (1921) - 8.244889965942257
104 Full Metal Jacket (1987) - 8.24238422431138
105 Dangal (2016) - 8.240270856273488
106 The Apartment (1960) - 8.238829330113324
107 Incendies (2010) - 8.238476474600658
108 The Father (2020) - 8.23742388012579
109 Double Indemnity (1944) - 8.235936049327705
110 A Clockwork Orange (1971) - 8.235778829732327
111 Metropolis (1927) - 8.235737078863831
112 Taxi Driver (1976) - 8.2355925296115
113 A Separation (2011) - 8.233744240251468
114 Pather Panchali (1955) - 8.232947265379952
115 The Sting (1973) - 8.23288363251077
116 Scarface (1983) - 8.232105353492477
117 Snatch (2000) - 8.229910859773554
118 1917 (2019) - 8.22882187471274
119 Amélie (2001) - 8.228599043386671
120 To Kill a Mockingbird (1962) - 8.225089837493883
121 Toy Story 3 (2010) - 8.223834456816183
122 For a Few Dollars More (1965) - 8.217309655202824
123 Up (2009) - 8.213662763613414
124 Indiana Jones and the Last Crusade (1989) - 8.203194541930959
125 Heat (1995) - 8.200248144797673
126 LA Confidential (1997) - 8.198707924234872
127 Yojimbo (1961) - 8.193702655874038
128 Ran (1985) - 8.193064495386555
129 Die Hard (1988) - 8.193021572842548
130 Rashomon (1950) - 8.191727923849179
131 Jai Bhim (2021) - 8.1917112633414
132 Green Book (2018) - 8.191094429802995
133 Downfall (2004) - 8.188867011156102
134 Monty Python and the Holy Grail (1975) - 8.188385208092253
135 All About Eve (1950) - 8.187064615258665
136 Some Like It Hot (1959) - 8.18402204224202
137 Batman Begins (2005) - 8.18319264311107
138 Unforgiven (1992) - 8.178564316798422
139 Children of Heaven (1997) - 8.176677797978021
140 Howl's Moving Castle (2004) - 8.164557885738146
141 The Wolf of Wall Street (2013) - 8.162416118596399
142 Judgment at Nuremberg (1961) - 8.158957665172814
143 The Great Escape (1963) - 8.156223619813792
144 There Will Be Blood (2007) - 8.155345630422
145 Casino (1995) - 8.155174762915403
146 The Treasure of the Sierra Madre (1948) - 8.15469754227096
147 Pan's Labyrinth (2006) - 8.149425477250052
148 A Beautiful Mind (2001) - 8.148107527034535
149 The Secret in Their Eyes (2009) - 8.145737672211064
150 Raging Bull (1980) - 8.143348571915716
151 Dersu Uzala (1975) - 8.142519519767413
152 Chinatown (1974) - 8.137702813974245
153 My Neighbor Totoro (1988) - 8.137241706397067
154 Lock, Stock and Two Smoking Barrels (1998) - 8.13376401504128
155 Shutter Island (2010) - 8.132862384840735
156 The Gold Rush (1925) - 8.129388435526357
157 No Country for Old Men (2007) - 8.129307981490838
158 Dial M for Murder (1954) - 8.128816614864773
159 The Thing (1982) - 8.126700315731535
160 The Seventh Seal (1957) - 8.126496520460861
161 Three Billboards Outside Ebbing, Missouri (2017) - 8.126330152508638
162 The Elephant Man (1980) - 8.12480150618111
163 Klaus (2019) - 8.123340827806048
164 The Sixth Sense (1999) - 8.122709666850698
165 Dune (2021) - 8.120585098019193
166 Wild Strawberries (1957) - 8.117028258831308
167 The Third Man (1949) - 8.116287662604867
168 The Truman Show (1998) - 8.115899615779517
169 Jurassic Park (1993) - 8.115863708637878
170 Memories of Murder (2003) - 8.1139527566158
171 V for Vendetta (2005) - 8.113784744985038
172 Blade Runner (1982) - 8.112714997305641
173 Trainspotting (1996) - 8.112164861434126
174 Inside Out (2015) - 8.11201088601256
175 The Bridge on the River Kwai (1957) - 8.110984161887131
176 Fargo (1996) - 8.11039451820188
177 Warrior (2011) - 8.108533634349268
178 Finding Nemo (2003) - 8.108361494129364
179 Kill Bill: Vol 1 (2003) - 8.107494513850062
180 Gone with the Wind (1939) - 8.105796766815407
181 Tokyo Story (1953) - 8.102489887139459
182 On the Waterfront (1954) - 8.101790944095637
183 My Father and My Son (2005) - 8.098612095274818
184 Wild Tales (2014) - 8.092859070683334
185 Stalker (1979) - 8.092643040388053
186 The Deer Hunter (1978) - 8.090463881921675
187 Z (1969) - 8.090282129660757
188 Prisoners (2013) - 8.089286082205007
189 The Grand Budapest Hotel (2014) - 8.088915735309337
190 Sherlock Jr (1924) - 8.088799879018728
191 The General (1926) - 8.088641551625877
192 Gran Torino (2008) - 8.088315108344336
193 Persona (1966) - 8.088151436501906
194 Before Sunrise (1995) - 8.085145707413911
195 Mary and Max (2009) - 8.084938802086763
196 Catch Me If You Can (2002) - 8.082204122650777
197 Mr Smith Goes to Washington (1939) - 8.08155378373996
198 In the Name of the Father (1993) - 8.079976502528558
199 Barry Lyndon (1975) - 8.079336931715913
200 Room (2015) - 8.079186195079398
201 Gone Girl (2014) - 8.0781210885756
202 Hacksaw Ridge (2016) - 8.076304149027196
203 The Passion of Joan of Arc (1928) - 8.074128759704147
204 Andhadhun (2018) - 8.07304162829435
205 Ford v Ferrari (2019) - 8.07019629595557
206 12 Years a Slave (2013) - 8.069503278475421
207 To Be or Not to Be (1942) - 8.069464271417933
208 The Big Lebowski (1998) - 8.067094811920146
209 Autumn Sonata (1978) - 8.06342456786672
210 Dead Poets Society (1989) - 8.06270158144321
211 How to Train Your Dragon (2010) - 8.06259922171656
212 Mad Max: Fury Road (2015) - 8.061653364346036
213 Ben-Hur (1959) - 8.06110187776915
214 Harry Potter and the Deathly Hallows: Part 2 (2011) - 8.059551093545075
215 Million Dollar Baby (2004) - 8.058751799815159
216 The Wages of Fear (1953) - 8.056203532610995
217 The Handmaiden (2016) - 8.055742197695844
218 Stand by Me (1986) - 8.055168824270972
219 Network (1976) - 8.054567481407167
220 Logan (2017) - 8.052176636965445
221 Gangs of Wasseypur (2012) - 8.05127924208957
222 Cool Hand Luke (1967) - 8.049905798136818
223 Hachi: A Dog's Tale (2009) - 8.049395356070365
224 La Haine (1995) - 8.048997718406575
225 The 400 Blows (1959) - 8.048140243841413
226 A Silent Voice: The Movie (2016) - 8.046510335331845
227 Platoon (1986) - 8.046136683666738
228 Spotlight (2015) - 8.044624452429796
229 Monsters, Inc (2001) - 8.041790211681283
230 Rebecca (1940) - 8.041281393363024
231 Life of Brian (1979) - 8.040517649134655
232 Hotel Rwanda (2004) - 8.038204190434637
233 The Bandit (1996) - 8.037993858137314
234 In the Mood for Love (2000) - 8.037314263414018
235 Rush (2013) - 8.036800961087895
236 Into the Wild (2007) - 8.035256582992178
237 Rocky (1976) - 8.034313217711047
238 Amores perros (2000) - 8.0342473332725
239 Nausicaä of the Valley of the Wind (1984) - 8.031847559313471
240 96 (2018) - 8.030098552681176
241 Andrei Rublev (1966) - 8.029447811991076
242 It Happened One Night (1934) - 8.028811483907246
243 Before Sunset (2004) - 8.028241205654766
244 Neon Genesis Evangelion: The End of Evangelion (1997) - 8.027227283533987
245 Fanny and Alexander (1982) - 8.02720600199177
246 The Battle of Algiers (1966) - 8.026414064203209
247 Nights of Cabiria (1957) - 8.024387792101745
248 The Princess Bride (1987) - 8.023679786321404
249 Paris, Texas (1984) - 8.023417659811376
250 Soorarai Pottru (2020) - 8.021681251548683

QUESTION 3

In [ ]:
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')


movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []


for index in range(0, len(movies)):

    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "rating": ratings[index]}
    imdb.append(data)

for item in imdb:
   print(item['place'], item['movie_title'], '('+item['year']+') -', item['rating'])

QUESTION 4A

In [ ]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

r = requests.get(url).text
print(r)

soup = BeautifulSoup(r, "lxml")

table = soup.find('table', attrs={"class":"table rankings-table"})
print(table)

topbatsman = []

for tr in table('tr'):
  for td in table('td'):
    topbatsman.append(td.text.replace('\n',"").strip())

for player in topbatsman:
  print(player)

topbatsman[:10]

QUESTION 4B

In [ ]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

r = requests.get(url).text
print(r)

soup = BeautifulSoup(r, "lxml")

odirank = soup.find('table', attrs={"class":"table"})
print(table)

topteam = []

for tr in odirank('tr'):
  for td in odirank('td'):
    topteam.append(td.text.replace('\n',"").strip())


for team in topteam:
  print(team)

QUESTION 4C

In [ ]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

r = requests.get(url).text
print(r)

soup = BeautifulSoup(r, "lxml")
man_bowl = soup.find('table', attrs={"class":"table rankings-table"})
print(table)

topbowler = []

for tr in man_bowl('tr'):
  for td in man_bowl('td'):
    topbowler.append(td.text.replace('\n',"").strip())


for player in topbowler:
  print(player)

QUESTION 5A

In [ ]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

r = requests.get(url).text
print(r)

soup = BeautifulSoup(r, "lxml")


WOMENSTEAM  = soup.find('table', attrs={"class":"table"})
print(WOMENSTEAM)

topteam = []

for tr in WOMENSTEAM('tr'):
  for td in WOMENSTEAM('td'):
    topteam.append(td.text.replace('\n',"").strip())


for team in topteam:
  print(team)

QUESTION 5B

In [ ]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

r = requests.get(url).text
print(r)

soup = BeautifulSoup(r, "lxml")

womensbatting = soup.find('table', attrs={"class":"table rankings-table"})
print(womensbatting)

topbatsman_w = []

for tr in womensbatting('tr'):
  for td in womensbatting('td'):
    topbatsman_w.append(td.text.replace('\n',"").strip())


for player in topbatsman_w:
  print(player)

QUESTION 5 C

In [ ]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"

r = requests.get(url).text
print(r)

soup = BeautifulSoup(r, "lxml")

womensbowling = soup.find('table', attrs={"class":"table rankings-table"})
print(womensbowling)

topbowler_w = []

for tr in womensbowling('tr'):
  for td in womensbowling('td'):
    topbowler_w.append(td.text.replace('\n',"").strip())


for player in topbowler_w:
  print(player)

QUESTION 6

In [ ]:
page = requests.get('https://coreyms.com/')
page

soup = BeautifulSoup(page.content)
soup

title = soup.find_all("header",class_="entry-header")

for a in title:
  print(a.text)

Python Tutorial: Zip Files – Creating and Extracting Zip Archives
November 19, 2019 by Corey Schafer Leave a Comment
Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey
October 17, 2019 by Corey Schafer Leave a Comment
Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module
September 21, 2019 by Corey Schafer Leave a Comment
Python Threading Tutorial: Run Code Concurrently Using the Threading Module
September 12, 2019 by Corey Schafer Leave a Comment
Update (2019-09-03)
September 3, 2019 by Corey Schafer Leave a Comment
Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)
August 6, 2019 by Corey Schafer Leave a Comment
Python Tutorial: Calling External Commands Using the Subprocess Module
July 24, 2019 by Corey Schafer Leave a Comment
Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview
May 1, 2019 by Corey Schafer Leave a Comment
Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview
May 1, 2019 by Corey Schafer Leave a Comment
Clarifying the Issues with Mutable Default Arguments
April 24, 2019 by Corey Schafer Leave a Comment

In [ ]:
mycontent = soup.find_all("div",class_="entry-content")
mycontent

for b in mycontent:
  print (b.text)

In [ ]:
for link in soup.find_all('a', 
                          attrs={'href': re.compile("^https://")}):
     print(link.get('href'))

QUESTION 7

In [ ]:
page = requests.get('https://www.nobroker.in/property/sale/mumbai/multiple?searchParam=W3sibGF0IjoxOS4yODEyNTQ3LCJsb24iOjczLjA0ODI5MTIsInBsYWNlSWQiOiJDaElKbzBxQ0hoQzk1enNScmpIWnhuS2xjRmsiLCJwbGFjZU5hbWUiOiJCaGl3YW5kaSIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTkuMjE4MzMwNywibG9uIjo3Mi45NzgwODk3LCJwbGFjZUlkIjoiQ2hJSldmMTJfdnk0NXpzUmd3TEY5NFY5TnM4IiwicGxhY2VOYW1lIjoiVGhhbmUiLCJzaG93TWFwIjpmYWxzZX0seyJsYXQiOjE5LjIwNDExNjEsImxvbiI6NzMuMDk0Mzg4NywicGxhY2VJZCI6IkNoSUpOeGlYbjRhVjV6c1I3ZURvSWtRMkNKQSIsInBsYWNlTmFtZSI6IkdhbmRoaSBOYWdhciIsInNob3dNYXAiOmZhbHNlfV0=')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [ ]:
title = soup.find_all("h2",class_="heading-6 font-semi-bold nb__25Cl7")
title

for a in title:
  print(a.text)

In [ ]:
area = soup.find_all("div",class_="nb__1EwQz")
area

for b in area:
  print(b.text)

In [ ]:
emi= soup.find_all("div",class_="font-semi-bold heading-6")
emi

for c in emi:
  print(c.emi)

QUESTION 8

In [ ]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [ ]:
soup =  BeautifulSoup(page.content)
soup

In [ ]:
title = soup.find('div',class_="restnt-info cursor")
title.text

In [ ]:
loc = soup.find('div',class_="restnt-loc ellipsis")
loc.text

In [ ]:
cuisine = soup.find('div',class_="detail-info")
cuisine.text.split('|')

In [ ]:
rating= soup.find('div',class_="img-wrap")
rating.text

In [ ]:
titles = []

for i in soup.find_all('div',class_="restnt-info cursor"):
  titles.append(i.text)

titles

In [ ]:
locations = []

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
  locations.append(i.text)

locations

In [ ]:
cuisines = []

for i in soup.find_all('div',class_="detail-info"):
  cuisines.append(i.text.split("|")[1])

cuisines

In [ ]:
ratings = []

for i in soup.find_all('div',class_="img-wrap"):
  ratings.append(i.text)

ratings

In [ ]:
images = []

for i in soup.find_all("img", class_="no-img"):
  images.append(i['data-src'])
images

In [ ]:
print(len(titles),len(cuisines),len(locations),len(ratings),len(images))

13 13 13 13 13

In [ ]:
import pandas as pd

df = pd.DataFrame({'Title' : titles,'Cuisine' : cuisines,'Location' : locations,'Ratings' : ratings,'Image' : images})
df

QUESTION 9

In [ ]:

page = requests.get('https://en.tutiempo.net/delhi.html?data=last-24-hours').text
print(page)
soup = BeautifulSoup(page, "lxml")
soup

In [ ]:
climate_table = soup.find("div", class_="last24 thh")
climate_table

In [ ]:
table = climate_table.find_all('table')
table

In [ ]:

HR_DATA = []

for tr in climate_table('tr'):
  for td in climate_table('td'):
    HR_DATA.append(td.text.replace('\n',"").strip())

In [ ]:
HR_DATA

QUESTION 10

In [6]:
page = requests.get("https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/")
page

In [ ]:
soup =  BeautifulSoup(page.content)
soup

In [ ]:
table = soup.find_all('div',attrs={"class":"blog--single__content column--3-4 u-spacing-third"})
table

for a in table:
  print(a.text)